<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">
      {{ site.title | escape }}
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% assign current = page.url %}
        {% assign is_gear = false %}
        {% if page.categories contains 'gear' %}
          {% assign is_gear = true %}
        {% endif %}
        <li class="nav-item">
          <a class="nav-link{% if current == '/' or current == '/index.html' %} active{% endif %}" href="{{ "/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if current == '/about/' or current == '/about' or current == '/about.html' %} active{% endif %}" href="{{ "/about" | relative_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if current contains '/posts' or (page.path contains '_posts' and is_gear == false) %} active{% endif %}" href="{{ "/posts" | relative_url }}">Travel Diaries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-gear{% if current contains '/gear' or is_gear %} active{% endif %}" href="{{ "/gear" | relative_url }}">🎒 Gear &amp; Picks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-instagram" href="https://instagram.com/{{ site.instagram_username }}" target="_blank" rel="noopener" title="@{{ site.instagram_username }} on Instagram">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        {% if site.youtube_username %}
        <li class="nav-item">
          <a class="nav-link nav-instagram" href="https://youtube.com/{{ site.youtube_username }}" target="_blank" rel="noopener" title="{{ site.youtube_username }} on YouTube">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
