// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

.verticalhorizontal {
    display: table-cell;
    height: 300px;
    text-align: center;
    width: 300px;
    vertical-align: middle;
}

* { text-align: justify; }

.heading, .subheading, .meta { text-align: center; }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image-caption {
    text-align: center;
    font-size: .8rem;
    color: grey;
    margin-top: 0%;
}
